<nav class="navbar navbar-expand-lg navbar-light bg-light mb-2">
  <%= link_to t(".all_book"), books_path, class: "navbar-brand ms-2" %>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item">
        <%= link_to t(".child"), books_path(category: "child"), class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to t(".noval"), books_path(category: "noval"), class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to t(".detective"), books_path(category: "detective"), class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to t(".love_story"), books_path(category: "love_story"), class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to t(".life"), books_path(category: "life"), class: "nav-link" %>
      </li>
    </ul>
  </div>
    <%= form_tag books_path, class: "form-inline ml-auto p-2", method: "get" do %>
      <div class="md-form my-0">
        <%= text_field_tag :search, params[:search], class: "form-control", placeholder: t(".search_place") %>
      </div>
      <%= button_tag t(".search"), type: "submit", class: "btn btn-outline-dark btn-md my-0 ml-sm-2" %>
    <% end %>
</nav>
<div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
  <%= render @books %>
</div>
<div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
  <%== pagy_bootstrap_nav @pagy %>
</div>
